.big-text{
  margin-top: 50px;
  font-family: roboto;
}
.like-icon{
  font-size: 70px;
  color: rgb(125, 214, 109);
  margin-top: 20px;
}
.conf-con{
  p{
    font-family: roboto;
  }
}
.ro{
  font-family: roboto;
}
