// Specific CSS for your home-page
.banner {
background-image: url("https://i.ibb.co/gzcQyTJ/cyberpunk-mclaren-supercars-neon-art-1003.jpg");
height: 300px;
background-size: cover;
background-position: center;
color: white;
}
