// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.banner {
background-image: url("https://i.ibb.co/gzcQyTJ/cyberpunk-mclaren-supercars-neon-art-1003.jpg");
height: 300px;
background-size: cover;
background-position: center;
position: relative;
}

h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
p {
  color: silver;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.filter-section{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 10px;
 position: absolute;
 bottom: -14px;
}
input{
  height: 35px;
  width: 180px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  padding: 0px 20px;
}

.submit-btn{
  width: 120px;
  height: 35px;
  border: none;
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  color: white;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  padding: 0px 20px;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

select {
  margin: 0 auto;
  color: #700d9b;
  width: 180px;
  // padding: 25px;
  height: 35px;
  cursor: pointer;
  background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  padding: 0px 20px;
}

select option {
  background-color: white;
  color: gray;
  width: 180px;
  // padding: 10px 15px;
  height: 35px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
}
