// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.banner {
background-image: url("https://i.ibb.co/gzcQyTJ/cyberpunk-mclaren-supercars-neon-art-1003.jpg");
height: 300px;
background-size: cover;
background-position: center;
}

h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
p {
  color: silver;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.homebutton{
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 10px;
}
input{
  height: 25px;
  width: 120px;
}
