<div class="d-flex flex-row justify-content-center align-items-center align-self-center sign-container">
<%# <h3>Log in</h3> %>
    <div class="w-50 d-flex justify-content-start align-items-center flex-column">
    <h2>Forgot your password?</h2>

<div class="w-50 d-flex justify-content-center align-items-center">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>


      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>


      <%= f.button :submit, "reset password", class: "btn btn-primary w-100"%>
  <% end %>
</div>
      </div>



</div>
