<footer>
<div class="first-div">
  <p class="footer-letter">© 2023 RIDEZ, Inc.</p>
  <p class="address">address: 380 Bd Brahim Roudani, Casablanca, Morocco</p>
</div>

<div class="second-div">
<div class="follow">
<p class="fot">Follow us</p>
<div class="icons-box">
<i class="fa-brands fa-instagram text-light"></i>
<i class="fa-brands fa-square-facebook text-light"></i>
<i class="fa-brands fa-twitter text-light"></i>
</div>
</div>
</div>
</footer>
