 <div class="d-flex flex-column justify-content-center align-items-center">
   <h3 class="text-dark big-text">Thank you!</h2>
    <p class="text-dark">Your order has been confirmed</p>
    <i class="fa-regular fa-circle-check like-icon"></i>
   <div class="conf-container">
    <h4>Order details</h4>
     <div class="form-body confirmation-detail">
             <h5>Your order on RIDEZ </h5>
             <div class="d-flex flex-row justify-content-between align-items-center mt-5 mb-5">
               <h6 class="text-light p-0 m-0"><b>Date:</b></h6>
               <h6 class="p-0 m-0 text-white">January 1st 2024</p>
             </div>
             <div class="d-flex flex-row justify-content-between align-items-center">
              <h6 class="text-light"><b>Price:</b></h6>
              <h6 class="text-white">345 usd</p>
             </div>
      </div>
   </div>
 </div>
