 <div class="d-flex flex-column justify-content-center align-items-center">
   <h3 class="text-dark big-text">Thank you!</h2>
    <p class="text-dark">Your order has been confirmed</p>
    <i class="fa-regular fa-circle-check like-icon"></i>
    <div class="d-flex justify-content-center align-items-center flex-column mt-3 w-50">
        <div class="d-flex justify-content-between flex-row w-50">
          <p>Date:</p>
          <p>January 1st 2023</p>
        </div>
        <div class="d-flex justify-content-between flex-row w-50">
          <p>Price:</p>
          <p>$300</p>
        </div>
    </div>
 </div>
