<div class="banner d-flex flex-column justify-content-center align-items-center">
  <h2>RIDEZ</h2>
    <p> Welcome to our homepage!</p>
</div>
<div class="homebutton">
<form>
<Select>
<option>brand</option>
<option value="BMV">BMW</option>
<option value="Meredes">Mercedes</option>
<option value="Audi">Audi</option>
</Select>
<Select>
<option>location</option>
<option value="casablanca">casablanca</option>
<option value="tangier">tangier</option>
<option value="rabat">rabat</option>
<option value="marrakech">marakkech</option>
</select>
</form>
</div>
