<div class="container mt-5 w-100">
  <div class="d-flex flex-row justify-content-between align-items-center">
  <h4>All Offers:</h1>
  </div>
    <hr size="2">
     <ul class="d-flex flex-row justify-content-start align-items-start w-100 gap-2 p-0 flex-wrap">
  <% @offers.each do |offer| %>
   <li class="card card-sizing">
      <div class="card-body">
        <h5 class="card-title"><%= offer.car.model%></h5>
          <p class= "card-text"><%= offer.car.location%>
        </p>
        <p class= "card-text">$<%= offer.car.price%>
        </p>
         <p class= "card-text"><%= offer.time_period%>
        </p>
      </div>
    </li>
    <% end %>
  </ul>
</div>
