<div class="d-flex flex-row justify-content-center align-item-center">

     <div class="w-50 d-flex flex-row justify-content-center align-item-center">
       <form class="credit-card">
         <div class="form-header">
        <h4 class="title">Credit card detail</h4>
         </div>
         <div class="form-body">
        <!-- Card Number -->
           <input type="text" class="card-number" placeholder="Card Number">
        <!-- Date Field -->
              <div class="date-field">
             <div class="month">
               <select name="Month">
                 <option value="january">January</option>
                 <option value="february">February</option>
                 <option value="march">March</option>
                 <option value="april">April</option>
                 <option value="may">May</option>
                 <option value="june">June</option>
                 <option value="july">July</option>
                 <option value="august">August</option>
                 <option value="september">September</option>
                 <option value="october">October</option>
                 <option value="november">November</option>
                 <option value="december">December</option>
               </select>
             </div>
             <div class="year">
               <select name="Year">
                 <option value="2023">2023</option>
                 <option value="2024">2024</option>
                 <option value="2025">2025</option>
                 <option value="2026">2026</option>
                 <option value="2027">2027</option>
                 <option value="2028">2028</option>
                 <option value="2029">2029</option>
                 <option value="2030">2030</option>
                 <option value="2031">2031</option>
               </select>
             </div>
           </div>
        <!-- Card Verification Field -->
           <div class="card-verification">
             <div class="cvv-input">
               <input type="text" placeholder="CVV">
             </div>
             <div class="cvv-details">
               <p class="sentence">3 or 4 digits usually found <br> on the signature strip</p>
             </div>
           </div>
        <!-- Buttons -->
           <button type="submit" class="proceed-btn"><a href="#">Proceed</a></button>
         </div>
       </form>
       <form class="credit-card">

        <div class="form-body order-detail">
         <h5 class="text-light d-flex justify-content-center">Your order on RIDEZ </h5>
         <div class="d-flex flex-row justify-content-between align-items-center mt-5 mb-5">
           <h6 class="text-light p-0 m-0"><b>Date:</b></h6>
           <h6 class="p-0 m-0 text-white">January 1st 2024</p>
         </div>

         <div class="d-flex flex-row justify-content-between align-items-center">
         <h6 class="text-light"><b>Price:</b></h6>
         <h6 class="text-white">345 usd</p>
         </div>
         <div class="d-flex flex-row justify-content-between align-items-center mt-5 mb-5">
         <h6 class="text-light"><b>Pick up location:</b></h6>
         <h6 class="text-white">Casablanca</h6>
         </div>
         </div>
       </form>
     </div>

</div>
